apiVersion: minio.min.io/v2
kind: Tenant
metadata:
  name: planmate-minio
  namespace: default
spec:
  image: minio/minio:RELEASE.2024-01-18T22-51-28Z
  imagePullPolicy: IfNotPresent
  
  # ✅ [수정됨] credsSecret 대신 configuration 사용!
  configuration:
    name: minio-creds-secret

  pools:
    - name: pool-0
      servers: 4
      volumesPerServer: 1
      volumeClaimTemplate:
        metadata:
          name: data
        spec:
          accessModes:
            - ReadWriteOnce
          storageClassName: local-path
          resources:
            requests:
              storage: 500Mi
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution: []

  mountPath: /export
  requestAutoCert: false