apiVersion: minio.min.io/v2
kind: Tenant
metadata:
  name: planmate-minio
  namespace: default
spec:
  pools:
    - name: pool-0
      servers: 4
      volumesPerServer: 1
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 500Mi
          storageClassName: local-path
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution: []
  image: minio/minio:RELEASE.2024-01-18T22-51-28Z
  credsSecret:
    name: minio-creds-secret
  requestAutoCert: false
  mountPath: /export


