apiVersion: minio.min.io/v2
kind: Tenant
metadata:
  name: planmate-minio
  namespace: default
spec:
  pools:
    - servers: 4
      volumesPerServer: 1
      size: 500Mi
      storageClassName: local-path
  image: minio/minio:RELEASE.2024-01-18T22-51-28Z
  credsSecret:
    name: minio-creds-secret
  mountPath: /export


