apiVersion: minio.min.io/v2
kind: Tenant
metadata:
  name: minio
  namespace: default
spec:
  image: minio/minio:RELEASE.2025-09-07T16-13-09Z
  imagePullPolicy: IfNotPresent
  
  configuration:
    name: minio-creds-secret

  pools:
    - name: pool-0
      servers: 4
      volumesPerServer: 2
      resources:
        requests:
          cpu: "50m"
          memory: "256Mi"
        limits:
          cpu: "400m"
          memory: "512Mi"
      volumeClaimTemplate:
        metadata:
          name: data
        spec:
          accessModes:
            - ReadWriteOnce
          storageClassName: local-path
          resources:
            requests:
              storage: 500Mi
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: v1.min.io/tenant
                  operator: In
                  values:
                  - minio
              topologyKey: "kubernetes.io/hostname"

  mountPath: /export
  requestAutoCert: false

  # ✅ 오퍼레이터가 인식할 수 있는 올바른 서비스 노출 방식
  exposeServices:
    console: false
    minio: false