apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: minio-ingress
  namespace: default
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  tls:
    - hosts:
        - pmserver1.salmakis.online
      secretName: minio-tls-secret
  rules:
    - host: pmserver1.salmakis.online
      http:
        paths:
          - path: /minio
            pathType: Prefix
            backend:
              service:
                name: minio-console
                port:
                  number: 9090
