apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: planmate-db
  namespace: default
spec:
  instances: 3
  imageName: ghcr.io/cloudnative-pg/postgresql:15

  # DB 초기화 설정
  bootstrap:
    initdb:
      database: planmate
      owner: postgres
      secret:
        name: planmate-db-user-password

  # 저장소 설정 (기존 1Gi 유지 - 축소 불가)
  storage:
    size: 1Gi
# kubectl exec -it planmate-db-1 -- psql -U postgres -c "ALTER USER postgres WITH PASSWORD '1234';"