apiVersion: v1
kind: Secret
metadata:
  name: rclone-config
  namespace: default
type: Opaque
stringData:
  rclone.conf: |
    [gdrive]
    type = drive
    client_id = YOUR_CLIENT_ID
    client_secret = YOUR_CLIENT_SECRET
    scope = drive
    token = YOUR_OAUTH_TOKEN_JSON

    [minio]
    type = s3
    provider = Minio
    env_auth = false
    access_key_id = ${MINIO_ACCESS_KEY}
    secret_access_key = ${MINIO_SECRET_KEY}
    endpoint = ${MINIO_ENDPOINT}
    region = us-east-1
